name: Java CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
      - refs/tags/*
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: 21
      - name: Build
        uses: nick-fields/retry@v3
        with:
          max_attempts: 5
          retry_on: error
          timeout_seconds: 90
          command: ./gradlew check
